.dialogs__wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;

  border: 1px solid red;
}

.dialogs {
}

.dialog {
  padding: 10px;
}

.dialog a {
  text-decoration: none;
  color: rgb(23, 23, 23);
}

a.active {
  color: brown;
}

.messages {
}

.message {
  padding: 10px;
}
