.posts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  border: 0;
  background-color: #5181b8;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #4a76a8;
}

button:active {
  background-color: #2a5885;
}
