.app__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  max-width: 1200px;
}

.app__wrapper-content {
  grid-area: content;
  background-color: rgb(202, 199, 199);
}
