.app__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  max-width: 1360px;
  background-color: #edeef0;
}

.app__wrapper-content {
  grid-area: content;
  background-color: #fff;
  border-radius: 3px;
}
