.nav {
  grid-area: nav;
}

.item {
  margin: 20px;
}

.item a {
  text-decoration: none;
  font-family: tahome, sans-serif;
  font-weight: 400;
  font-size: larger;
  color: #2a5885;
}

a.active {
  color: #5c9ce6;
}
